attrs
beautifulsoup4
certifi
charset-normalizer
exceptiongroup
h11
idna
lxml
numpy
outcome
pandas
PySocks
python-dateutil
pytz
requests
selenium
selenium-stealth
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
tzdata
undetected-chromedriver
urllib3
websockets
wsproto
python-dotenv
spacy
loguru